body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #f9f9f9;
    color: #333;
}

main {
    min-height: 90vh;
    width: 100%;
    max-width: 900px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: Arial, sans-serif;
}

.section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile span {
    font-size: 20px;
    font-weight: bold;
}

.logout-btn {
    background: #dc3545;
    color: white;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.logout-btn:hover {
    background: #c82333;
}

.user-info ul {
    list-style: none;
    padding: 0;
}

.user-info li {
    background: #f1f1f1;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}
table{
    width: 100%;
}
td, th{
    padding: 5px 20px;
    border-right: 1px solid #ddd;border-bottom: 1px solid #000;
}
th:last-child, td:last-child{
    border-right: 0;
}
tr:last-child>td{
    border-bottom: 0;
}